*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.Vishwas
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.uvgui.*
*.uvopt
*.xls
combined_invaders.txt
global.c
global.h
global.c
*.bmp
Lab15Files/Connect4Art/Black.txt
Lab15Files/Connect4Art/Blue.txt
Lab15Files/PipeDreamsArt/startd.txt
Lab15Files/PipeDreamsArt/PipeDream.c
Lab15Files/PipeDreamsArt/pipeSound.txt
Timer0.h
global.c
*.JPG
Lab15Files/Connect4Art/BmpConvert.exe
*.txt
*.wav
*.xlsx
*.exe
*.gif
*.png
spaceinvaders_files_merged.cxx
spaceinvaders_files
SpaceInvaders.plg
sprite.c
sprite.c
Timer0.c

SpaceInvaders.uvgui
random.h
random.s
single-c-file.js
sprite.c
global.c
